name: Update README

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run generator
        run: node script.js

      - name: Commit & Push
        run: |
          git config --local user.email "github-actions@github.com"
          git config --local user.name "github-actions"
          git add README.md
          git commit -m "Update README [ automated ]" || echo "No changes"
          git push
